/* https://imfing.github.io/hextra/docs/advanced/customization/ */

@import url('https://fonts.cdnfonts.com/css/space-grotesk');
@import url('https://fonts.cdnfonts.com/css/fira-mono');
@import url('https://db.onlinewebfonts.com/c/1e4cd3b720ccabd5a5de545481339e3b?family=Merriweather');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab", sans-serif;
}

body {
  /* font-family: "Merriweather Sans", sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
  /* font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
  /* Not working */
  font-feature-settings: "onum";
}

.content {
  font-family: "Merriweather", serif;
  /* font-family: 'Space Grotesk', sans-serif; */
  /* font-family: 'PT Serif', 'Space Grotesk', serif;*/
  /* font-optical-sizing: auto; */
  /* font-weight: 400; */
  /* font-style: normal; */
  /* font-variation-settings:
    "wdth" 100; */
  /* Not working */
  font-feature-settings: "onum";
}

.content code:not(.code-block code) {
  /* color: #c97c2e; */
  /* font-family: "Fira Mono", "Cascadia Code", "Iosevka", "Iosevka Charon Mono", "Iosevka Charon", monospace; */
  font-family: "Fira Mono",
    "Cascadia Code",
    "Iosevka",
    "Iosevka Charon Mono",
    "Iosevka Charon", "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* .content p:first-of-type::first-letter {
  initial-letter: 7;
  -webkit-initial-letter: 7;
} */

/* Drop caps using CSS. */
@supports not ((initial-letter:2) or (-webkit-initial-letter:2)) {
  .content>p:first-of-type:first-letter {
    /* color: var(--color-accent-themed, var(--color-accent, currentColor)); */

    color: var(--hx-color-primary-600);
    letter-spacing: 0;
    float: left;
    margin-top: .06em;
    margin-right: 1rem;
    font-size: 6.5rem;
    font-weight: 700;
    line-height: .8;
  }

  @media (max-width: 768px) {
    .content>p:first-of-type:first-letter {
      font-size: 3.5rem;
    }
  }
}

.debug * {
  /* background-color: 1px solid var(--hx-color-primary-700);; */
  /* background: rgba(255, 0, 0, 0.1); */
  border: 1px solid var(--hx-color-primary-600);
  /* background-color: var(--hx-color-primary-600); */
}

/* 
.content>p:nth-of-type(2) {
  padding-top: 1.6rem;
} */

@supports (initial-letter:2) or (-webkit-initial-letter:2) {
  .content>p:first-of-type:first-letter {
    /* color: var(--color-accent-themed, var(--color-accent, currentColor)); */

    /* Somewhat working. */
    /* color: var(--hx-color-primary-600);
    -webkit-initial-letter: 3 2;
    initial-letter: 3 2;
    margin-right: 0.2rem;
    font-weight: 700; */

    color: var(--hx-color-primary-600);
    /* initial-letter: 4 6; */
    initial-letter: 4 1;
    /* padding: 2.2rem 2.6rem; */
    /* padding-top: 2.2rem; */
    /* padding-bottom: 2.2rem; */
    /* padding-left: 2.6rem; */
    /* padding-right: .6rem; */
    font-weight: 900;
    margin-right: 1.6rem;
  }

  @media (max-width: 768px) {
    .content>p:first-of-type:first-letter {
      -webkit-initial-letter: 2;
      initial-letter: 2;
    }
  }
}

/* // https://vuepress.vuejs.org/config/#palette-styl
// More examples: https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl

// colors
$accentColor =#E53935 $textColor =#000000 $borderColor =#E53935 $codeBgColor =#282c34 // https://vuepress.vuejs.org/plugin/official/plugin-nprogress.html
$nprogressColor =#E53935;
// https://vuepress.vuejs.org/plugin/official/plugin-search.html
$arrowBgColor =#E53935;


// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=6002ee

// Red 50
// #FFEBEE
// 100
// #FFCDD2
// 200
// #EF9A9A
// 300
// #E57373
// 400
// #EF5350
// 500
// #F44336
// 600
// #E53935
// 700
// #D32F2F
// 800
// #C62828
// 900
// #B71C1C
// A100
// #FF8A80
// A200
// #FF5252
// A400
// #FF1744
// A700
// #D50000 */

:root {
  /* https: //www.colorhexa.com/e53935 */
  --primary-hue: 1.4deg;
  --primary-saturation: 77.2%;
  --primary-lightness: 55.3%;
}

/* @layer theme {
  :root {
    --hx-default-mono-font-family: "JetBrains Mono", monospace;
  }
} */