/* https://imfing.github.io/hextra/docs/advanced/customization/ */

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  /* font-family: "Zilla Slab", sans-serif; */
  font-family: "Alegreya SC", serif;
  font-feature-settings: "onum";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab", sans-serif;
  /* font-family: "Alegreya Sans SC", sans-serif; */
  font-feature-settings: "onum";
}

body {
  font-family: "Space Grotesk", "SpaceGrotesk", sans-serif;
  /* font-family: "Alegreya Sans", sans-serif; */
  font-feature-settings: "onum";
}

.content {
  font-family: "Alegreya", "Vollkorn", serif;
  font-feature-settings: "onum";
}

.content code:not(.code-block code) {
  /* color: #c97c2e; */
  font-family: "Iosevka Charon Mono", "Iosevka Charon", "Iosevka", "Space Mono", monospace;
}

/* Drop caps using CSS. */
@supports not ((initial-letter:2) or (-webkit-initial-letter:2)) {
  .content>p:first-of-type:first-letter {
    /* color: var(--color-accent-themed, var(--color-accent, currentColor)); */
    color: var(--hx-color-primary-600);
    letter-spacing: 0;
    float: left;
    margin-top: .06em;
    margin-right: 1rem;
    font-size: 6.5rem;
    font-weight: 700;
    line-height: .8;
  }

  @media (max-width: 768px) {
    .content>p:first-of-type:first-letter {
      font-size: 3.5rem;
    }
  }
}

@supports (initial-letter:2) or (-webkit-initial-letter:2) {
  .content>p:first-of-type:first-letter {
    /* color: var(--color-accent-themed, var(--color-accent, currentColor)); */
    color: var(--hx-color-primary-600);
    -webkit-initial-letter: 3 2;
    initial-letter: 3 2;
    margin-right: 0.2rem;
    font-weight: 700;
  }

  @media (max-width: 768px) {
    .content>p:first-of-type:first-letter {
      -webkit-initial-letter: 2;
      initial-letter: 2;
    }
  }
}

:root {
  /* https: //www.colorhexa.com/e53935 */
  --primary-hue: 1.4deg;
  --primary-saturation: 77.2%;
  --primary-lightness: 55.3%;
}

/* Mainly to debug CSS if `&debug=true` or `&debug_css=true` is in the URL query string. */
.debug * {
  border: 1px solid var(--hx-color-primary-600);
  /* background-color: var(--hx-color-primary-600); */
}

/*
// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=6002ee

// Red 50: #FFEBEE
// 100: #FFCDD2
// 200: #EF9A9A
// 300: #E57373
// 400: #EF5350
// 500: #EF5350
// 600: #F44336
// 700: #E53935
// 800: #D32F2F
// 800: #C62828
// 900: #B71C1C
// A100: #FF8A80
// A200: #FF5252
// A400: #FF1744
// A700: #D50000
*/